.box .login-button {
    all: unset;
    background: linear-gradient(90deg, rgb(96.72, 77.4, 99.75) 1.53%, rgb(133.72, 234.6, 204.34) 31.5%, rgb(178.21, 252.03, 57.55) 66.99%, rgb(238.07, 240.12, 96.25) 97%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 18px;
    box-shadow: var(--shadow-9-7-30-10);
    box-sizing: border-box;
    height: 55px;
    left: 0;
    opacity: 0.9; /* so i can make it more bright or opaque */
    overflow: hidden;
    position: relative;
    top: 729px;
    width: 450px;
  }
  
  .box .text-wrapper-9 {
    color: var(--colours-white-1000);
    font-family: var(--inter-semi-bold-16-font-family);
    font-size: 27px;
    font-style: var(--inter-semi-bold-16-font-style);
    font-weight: var(--inter-semi-bold-16-font-weight);
    height: 29px;
    left: 39px;
    letter-spacing: var(--inter-semi-bold-16-letter-spacing);
    line-height: var(--inter-semi-bold-16-line-height);
    position: absolute;
    text-align: center;
    top: 22px;
    width: 350px;
  }
  