.box .login-button {
    @apply bg-white shadow-[var(--shadow-9-7-30-10)] box-border h-[55px] opacity-90 overflow-hidden relative w-[450px] rounded-[18px] left-0 top-[729px];
    all: unset;
    background: linear-gradient(90deg, rgb(96.72, 77.4, 99.75) 1.53%, rgb(133.72, 234.6, 204.34) 31.5%, rgb(178.21, 252.03, 57.55) 66.99%, rgb(238.07, 240.12, 96.25) 97%);
    /* so i can make it more bright or opaque */
}
.box .text-wrapper-9 {
    @apply text-[color:var(--colours-white-1000)] text-[27px] font-[number:var(--inter-semi-bold-16-font-weight)] h-[29px] tracking-[var(--inter-semi-bold-16-letter-spacing)] leading-[var(--inter-semi-bold-16-line-height)] absolute text-center w-[350px] left-[39px] top-[22px];
    font-family: var(--inter-semi-bold-16-font-family);
    font-style: var(--inter-semi-bold-16-font-style);
}
  