documentation/SRS-Docs/SRS.aux
documentation/SRS-Docs/SRS.fdb_latexmk
documentation/SRS-Docs/SRS.fls
documentation/SRS-Docs/SRS.log
documentation/SRS-Docs/SRS.out
documentation/SRS-Docs/SRS.synctex.gz
documentation/SRS-Docs/SRS.toc
.vscode
documentation/occupi-docs/Awards/Data.aux
documentation/occupi-docs/Awards/Data.fdb_latexmk
documentation/occupi-docs/Awards/Data.fls
documentation/occupi-docs/Awards/Data.out
documentation/occupi-docs/Awards/Data.synctex.gz
documentation/occupi-docs/Awards/Data.toc
