@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFFFFF;
  --primary-40: rgba(255, 255, 255, 0.40);
  --secondary: #EBEBEB;
  --tertiary: #434343;
  --text-col: #0D0D0D;
  --primary-alt: #0D0D0D;
  --secondary-alt: #252525;
  --text-col-alt: #FFFFFF;
  --red-salmon: #FF5F5F;
  --green-leaf: #AFF16C;
}

:root.dark {
  --primary: #0D0D0D;
  --primary-40: rgba(10, 10, 10, 0.40);
  --secondary: #252525;
  --text-col: #FFFFFF;
  --primary-alt: #FFFFFF;
  --secondary-alt: #EBEBEB;
  --text-col-alt: #0D0D0D;
}

html{background: var(--primary); width: 100vw; overflow-x: hidden; height: 100vh; overflow: overlay;}

a{text-decoration: none; color: var(--text-col);}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--primary);
}

/*scrollbars*/
::-webkit-scrollbar { 
  width: 8px !important; 
  z-index: 5000 !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  z-index: 5000 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-alt) !important;
  opacity: 0.8 !important;
  border-radius: 15px !important;
  z-index: 5000 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-leaf) !important;
  z-index: 5000 !important; 
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--green-leaf) !important;
  z-index: 5000 !important; 
}

.hover_buttons:hover svg path{
  stroke: var(--primary);
}

.selected_buttons svg path{
  stroke: var(--primary);
}

.hover_buttons_text:hover h2, p{
  color: var(--primary);
}

.selected_buttons_text h2, p{
  color: var(--primary);
}