/* OtpInput.css */
.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .otp-label {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--colours-green-600); /* Adjust this color variable as needed */
  }
  
  .otp-inputs {
    display: flex;
    gap: 10px;
  }
  
  .otp-input {
    background-color: var(--colours-white-800); /* Adjust this color variable as needed */
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 50px;
    width: 50px; /* Adjust the width to make it square */
    text-align: center;
    font-size: 24px;
    font-family: var(--inter-regular-12-font-family); /* Adjust this font variable as needed */
    font-weight: var(--inter-regular-12-font-weight); /* Adjust this font variable as needed */
  }
  